/* CSS Module (Footer.module.css) */

/* تعريف حركة الـ spin */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.rotate360 {
  animation: spin 7s linear infinite; 
}
